body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  width:100% ;
  height:100% ;
  background-image: url("../assets/images/imgbanner.jpg");
  background-size: cover;
  background-position: center;
  
}

.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.808); /* O cualquier color que desees */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em; /* Ajusta el tamaño según tus preferencias */
  color: #000; /* Color del título */
  margin-bottom: 10px;
}

p {
  font-size: 1em; /* Ajusta el tamaño según tus preferencias */
  color: #555; /* Color del subtítulo */
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  background-color: #fcb249; /* Color del botón */
  color: white; /* Color del texto dentro del botón */
  cursor: pointer;
}

.insc{  
  background-color: #4893fc;
}
