*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
}

.header__picture-logo{
    height: 5rem;
}

.header__logo{
    height: 100%;
}

.header__nav-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header__nav-li{
    list-style: none;
}

.header__nav{
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    position: absolute;
    top: 0;
    display: none;
    place-content: center;
    z-index: -1;
}

.header__nav-a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 8px;
    display: inline-block;
    transition: all .3s ease;
}

.header__nav-a:hover{
    scale: 1.1;
    background-color: #c7c7cc;
}

.header__container-button{
    display: flex;
    gap: 1rem;
}

.header-a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: .5rem;
    border-radius: 8px;
    transition: all .3s ease;
}

.header-a:hover{
    scale: 1.2;
}

.header__button-1{
    background-color: #fcb249;
}

.header__button-2{
    background-color: #4893fc;
}

#checkbox{
    display: none;
}

#checkbox:checked~.header__nav{
    display: grid;
}

/* MEDIA QUERYS */

@media screen and (min-width:767px) {
    .header__nav{
        width: auto;
        height: auto;
        position: static;
        top: auto;
        display: flex;
        z-index: 0;
    }

    .header__nav-ul{
        flex-direction: row;
    }
    
    .header__menu-button{
        display: none;
    }
}